/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}
.legend {
  line-height: 20px;
  padding: 5px;
  color: white;
  background: black;
  border-radius: 5%;
  opacity: .75
}
.legend i {
  width: 30px;
  height: 20px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
  weight: bold; 
}
.leaflet-bottom.leaflet-left{
    width: 80%;
}
.leaflet-control-container .leaflet-timeline-controls{
    box-sizing: border-box;
    width: 50%;
    margin: 0;
    margin-bottom: 15px;
	opacity: .75;
	}